@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --calculator-bg-color: #8aa5e4;
  --screen-bg-color: transparent;
  --keypad-div-bg-color: #1d2b57;
  --keypad-button-bg-color: #323e63;
  --keypad-button-font-size: 32px;
  --keypad-button-font-color: #fff;
  --keypad-button-font-family: "Inter", sans-serif;
  --keypad-button-font-weight: 600;
  --keypad-div-border-radius: 20px;
  --keypad-button-border-radius: 10px;
  --keypad-button-upper-color: #cedb37;
  --keypad-button-right-color: #0beefd;
  --screen-output-font-color: #fff;
  --screen-output-font-size: 44px;
  --screen-output-font-weight: 700;
  /* */
}

body {
  background-color: #e5e5e5;
}
.responsive-container {
  margin: 0 auto;
  height: 800px;
  max-width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-container {
  display: flex;
  flex-direction: column;
  width: 414px;
  height: 736px;

  background-color: var(--calculator-bg-color);
}

.screen-div {
  height: 228px;
  width: 414px;
  padding: 21.2px 39px 15px 24.21px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--screen-bg-color);
}

.keypad-div {
  height: 508px;
  width: 414px;

  background-color: var(--keypad-div-bg-color);
  border-top-left-radius: var(--keypad-div-border-radius);
  border-top-right-radius: var(--keypad-div-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.keypad-box {
  height: 438px;
  width: 340px;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(5, 75px);
  gap: 13.33px;
}

.keypad-button {
  background-color: var(--keypad-button-bg-color);
  border-radius: var(--keypad-button-border-radius);
  color: var(--keypad-button-font-color);
  font-size: var(--keypad-button-font-size);
  font-weight: var(--keypad-button-font-weight);
  font-family: var(--keypad-button-font-family);
  text-align: center;
  grid-auto-flow: column;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 4px 0px #323e6333;
}

.c,
.plus-slash-minus,
.percent {
  color: var(--keypad-button-upper-color);
}

.slash,
.x,
.minus,
.plus,
.equal-to {
  color: var(--keypad-button-right-color);
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.screen {
  width: 351px;
  height: 206.8px;
  flex-direction: column;
  gap: 50px;
}

.icons {
  flex-direction: column;
  align-items: flex-start;
  width: 351px;
  height: 52px;
}

.status-bar {
  width: 351px;
  height: 12px;
  background-image: url("img/status-bar.png");
  margin-bottom: 15px;
}
.stopwatch {
  height: 25px;
  width: 25px;
  background-image: url("img/stopwatch.png");
  background-size: cover;
  background-position: center;
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 351px;
  height: 90px;
  column-gap: 15px;
}

.screen-gap {
  height: 50px;
  width: 351px;
}

.input {
  width: 111px;
  height: 29px;
  background-image: url("img/input.png");
  margin-right: 13px;
}

.output {
  width: 149px;
  height: 53px;
  font-family: var(--keypad-button-font-family);
  font-size: var(--screen-output-font-size);
  font-weight: var(--screen-output-font-weight);
  color: var(--keypad-button-font-color);
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .calc-container {
    transform: scale(0.65);
  }
}

@media screen and (min-width: 701px) and (max-width: 2000px) {
  .responsive-container {
    transform: scale(0.77);
  }
}
