* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --calculator-bg-color: #8aa5e4;
  --screen-bg-color: transparent;
  --keypad-div-bg-color: #1d2b57;
  --keypad-button-bg-color: #323e63;
  --keypad-button-font-size: 32px;
  --keypad-button-font-color: #fff;
  --keypad-button-font-family: Inter;
  --keypad-button-font-weight: 600;
  --keypad-div-border-radius: 16px;

  /* */
}

.responsive-container {
  margin: 0 auto;
  height: 800px;
  max-width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-container {
  display: flex;
  flex-direction: column;
  width: 414px;
  height: 736px;
  /* border: 1px solid black; */
  background-color: var(--calculator-bg-color);
}

.screen-div {
  height: 228px;
  width: 414px;
  /* border: 1px solid blue; */
  background-color: var(--screen-bg-color);
}

.keypad-div {
  height: 508px;
  width: 414px;
  /* border: 1px solid green; */
  background-color: var(--keypad-div-bg-color);
  border-top-left-radius: var(--keypad-div-border-radius);
  border-top-right-radius: var(--keypad-div-border-radius);
}
